@font-face {
  font-family: "iconfont"; /* Project id 3294282 */
  src: url('iconfont.woff2?t=1648876350002') format('woff2'),
       url('iconfont.woff?t=1648876350002') format('woff'),
       url('iconfont.ttf?t=1648876350002') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e619";
}

.icon-weibo:before {
  content: "\e65b";
}

.icon-weixin:before {
  content: "\e66a";
}

.icon-qq:before {
  content: "\e60e";
}

.icon-fangdajing:before {
  content: "\e637";
}

